#set($pagetitle='Configure Database')

<p class="heading">Configure Database</p>
<p>The tool uses a Sqlite database for data storage. Specify the database name. After pressing ok, the database and tables as well as the base data required for the Business Rules Maintenance Tool is created. If the database already exists, then this database is used as the active database with the Business Rules Maintenance Tool. Choose a different (non-existant) database name, if you want to create a new database.</p>

<div class="formbox">
<form method="POST" action="process?action=bsh&scriptname=configuredatabase"> 
<table align="center" width="95%" border="0">
	<tr>
		<td>Database Name:</td>
		<td>
			<input name="db_name" type="text" size="40" maxlength="120" value="$!{configuration.getProperty("db_name")}">
		</td>
	</tr>
	<tr>
		<td colspan="2" align="center"><br />
			<input type="submit" value="save" name="submit">
		</td>
	</tr>
</table>
</form>
</div>

#if (${infomessage})
	<p align="center">#insert_message($infomessage)</p>
#end
